.newsContainer{
    position: relative;
    background: white;
    padding: 1em;
    border: solid 5px darkslategrey;
    margin-bottom: 1.3em;

}

.newsImage{
    width: 10em;
    height: auto;
    margin-right: 5em;
    border-radius: 20%;
}

.newsHeader{
    font-weight: bold;
    font-size: 1.3em;


}

.newsParagraph{
    color: black;

}

.newsLink{

    color: blueviolet;

}

.newsDate{
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: black;
    opacity: 0.2;
}

