.newsContainer{

    background: white;
    padding: 1em;
    margin-bottom: 1.3em;
    box-shadow: 0 0 14px -3px rgba(130,127,130,0.86);
    font-size: 1.1em;



}

.newsContainerMobile{
    font-size: 0.5em;
    box-sizing: border-box;
    position: relative;
    background: white;
    padding: 1em;
    margin-bottom: 1.3em;
    box-shadow: 0 0 14px -3px rgba(130,127,130,0.86);
}

.newsImage{
    width: 100%;
    height: 15em;

    border-radius: 20%;
}

.newsHeader{
    font-weight: bold;
    font-size: 1.3em;


}

.newsParagraph{
    color: black;

}

.newsLink{

    color: blueviolet;

}

.newsDate{
    position: absolute;
    bottom: 0em;
    right: 1em;
    color: black;
    opacity: 0.2;
}

.NewsMainRow{
    position: relative;
    display: flex;
    align-items: center !important;
    justify-content: center !important;

}

.NewsImageColumn{

    display: flex;
    align-items: center !important;
    justify-content: center !important;

}

.NewsTextColumn{

    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: center !important;

}