
.contactForm{



}

.contactInputLabel{
    font-size: 1.1em;
    font-weight: bold;
}

.contactParagraph{

    color: black;
    margin-bottom:2em;

}

.contactHeader{
    font-weight: bold;
    font-size: 1.5em;
    color: #1B75BC;
    margin-bottom: 0.5em;
    margin-top: 0.5em;


}

.ContactUpperRow{

    display: flex;
    align-items: center !important;
    justify-content: center !important;

}

.ContactLowerRow{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.ContactContainer{
    box-shadow: 0 0 14px -3px rgba(130,127,130,0.86);
    font-size: 1.2em;
    padding: 2em !important;

}