.eventDetailsMainInformationContainer{
   border: black 3px solid;
}

.eventDetailsImageTitleRow{
    align-items: center;
}

.eventDetailsImage{
    width: 50%;
    height: auto;
    margin-left: 0 !important;
    margin-right: 2em;
}

.eventDetailsTitle{
    font-size: 1.8em;
    font-weight: bold;
}

.eventDetailsAuthor{
    margin-right: 0.5em;

}

.eventDetailsAuthorLink{

}

.eventDetailFreeSlotsLeftRow{

    background: #1B75BC;
}

.eventDetailFreeSlotsLeftImage{
    width: 100%;
    padding: 1em;

}

.eventDetailFreeSlotsLeftHeader{

}

.InformationIconsRow{


}

.eventDetailsIcon{




}

.eventDetailsIconInformation{

    position: absolute;
    left: 25%;

}

.displayEventIconHeaderElement{

    padding: 0.5em;

}

.eventDetailsBadge{
    position: absolute;
    right: 1em;
    top: 1em;
}

.eventDetailsBadgeHeader{
    font-size: 1.2em;
}

.DetailsIconContainer{
    background: #FF0000;
    width: 2em;
}