.EventDetailsMainContainer{

    padding-right: 4em !important;
    padding-left: 4em !important;

}


.eventDetailsMainInformationContainer{
    margin-right: 1em;
}

.eventDetailsBadge{
    font-size: 1.3em !important;
    position: absolute;
    right: 1em;
    top: 1em;
}

.EventDetailsApplyAnotherEventsContainer{

}

