.PlaceDetailsMainContainerWeb{

    padding-right: 4em !important;
    padding-left: 4em !important;

}

.PlaceDetailsMainContainerMobile{

    font-size: 1em;



}


.PlaceDetailsMainInformationContainer{
    margin-right: 1em;
}

.PlaceDetailsBadge{
    font-size: 1.3em !important;
    position: absolute;
    right: 1em;
    top: 1em;
}

.PlaceDetailsApplyAnotherEventsContainer{

}

