.forgotPassMainHeader{
    font-size: 2em;
    color: #1B75BC;
}

.forgotPassSecondHeader{
    font-size: 1.2em;

}

.forgotPasswordPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;



}