.aboutItemContainer{
    border: none;
    margin-top: 5em;
    margin-bottom: 5em;

}

.aboutText{
    text-align: start;

}

.aboutPageHeader{
    color: green;
    font-weight: bold;
    font-size: 2em;

}


.aboutPageParagraph{
    color: black;
    font-size: 1.4em;
 }

.aboutItemContainer{

}

.aboutImage{
    width: 50%;
    height: auto;
}

