.aboutItemContainer{
    border: none;
    margin-top: 8em;
    margin-bottom: 8em;
    box-shadow: 0 0 14px -3px rgba(130,127,130,0.86);

}

.aboutText{
    text-align: start;
    padding: 2em;

}

.aboutPageHeader{
    color: green;
    font-weight: bold;
    font-size: 1.9em;

}


.aboutPageParagraph{
    color: black;
    font-size: 1.3em;
    margin-top: 1em;
 }

.aboutItemContainer{

}

.aboutImage{
    width: 50%;
    height: auto;
}

