.submitModalUpperHeader{
    font-weight: bold;
    color: forestgreen;
}

.submitModalLowerHeader{
    font-size: 1.2em;
}

.submitModalIcon{
    font-size: 4em;
    color: forestgreen !important;
}

.SubmitModalIconColumn{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}