
.Navbar{
    margin-bottom: 1.5em;
    font-size: 1em;
}

.userProfileImage{
    width: 3em;
    height: auto;
    border-radius: 30%;



}

.userProfileHeader{
    color: white;
    opacity: 0.6;
    font-weight: bold;
    margin-left: 0.4em;
    margin-right: 2em;
}


.userProfileHeader:hover{
    opacity: 0.8;
    cursor: pointer;
}

.dataToggle::after{
    content: none !important;
}

.userProfileIcon{

}

.profileIcon{
    margin-right: 0.5em;
}

.dropdown-menu-center{
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}