.signInModalHeader{
    display: flex;
    flex-direction: column;
    background: white;
    text-align: center;
}

.signInTitleHeader{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;



}




.signInModalFooter{

    background: darkslategrey;


}

.signInModalFooter > a{
    color: white;
}

.signInModalFooter > a:hover{
    color: azure;
}

.signInModalButton{
    width: 100%;
}