.EditProfileRow{
    justify-content: space-between;

}

.EditProfileCategoryTitle{
    font-weight: bold;
}

.AccordionToggle{

    background: white !important;
    cursor: pointer !important;
    padding-left: 3em !important;
    padding-right: 3em !important;

}

.AccordionContainer{



}

.AccordionCard{

    border: 1px solid grey !important;

    margin-bottom: 2em;
}
.EditProfileEditHeader{

}

.EditProfileCategoryText{

}

.EditProfileInput{
    margin-right: 1em;
}

body{

}