.EditProfileRow{
    justify-content: space-between;

}

.EditProfileCategoryTitle{
    font-weight: bold;
}

.AccordionToggle{

    background: white !important;
    cursor: pointer !important;
    padding-left: 3em !important;
    padding-right: 3em !important;

}

.AccordionContainer{



}

.AccordionCard{


    margin-bottom: 2em;
    box-shadow: 0 0 14px -3px rgba(130,127,130,0.86);
}
.EditProfileEditHeader{
    color: #1B75BC;

}

.EditProfileEditHeader:hover{
    text-decoration: underline;
}

.EditProfileCategoryText{



}

.EditProfileInput{
    margin-right: 1em;
}

.EditProfileCurrentImage{
    width: 6em;
    height: 6em;
}