.PlaceCommentContainer{

    padding: 1em;

    margin-bottom: 1em;
    border-bottom: 1px grey solid;


}

.CommentThumbsContainer{
    position: absolute;
    right: 1em;
}

.CommentThumbContainerUp{
    align-items: center;
    justify-content: center;
    margin-right: 1em;


}

.CommentThumbIconUp{
    font-size: 1.7em;
    color: #1B75BC;
}

.CommentThumbIconUp:hover{
    cursor: pointer;
    opacity: 0.8;
    color: navy;
}

.CommentThumbHeaderUp{

    font-size: 1.4em;


}

.CommentThumbContainerDown{
    align-items: center;
    justify-content: center;


}

.CommentThumbIconDown{

    font-size: 1.7em;
    color: red;

}

.CommentThumbIconDown:hover{

    cursor: pointer;
    opacity: 0.8;
    color: darkred;

}

.CommentThumbHeaderDown{

    font-size: 1.4em;


}

.CommentGradeUserRow{

}

.CommentGrade{

    display: flex;
    background: #1B75BC;
    width: 10%;
    height: auto;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    color: white;
    font-weight: bold;

}

.CommentPostedBy{

    margin-left: 1em;
}

.CommentPostedByHeader{
    font-weight: bold;
    font-size: 1.2em;
}

.CommentPostedByUsername{
    font-size: 1em;
}

.CommentDateRow{



    margin-top: 1em;
    align-items: center;



}

.CommentDateIcon{
    color: green;
    margin-right: 0.5em;
    font-size: 1.5em;
}

.CommentDate{

}

.CommentReviewRow{
    margin-top: 1em;
    align-items: center;
    margin-bottom: 1em;
}

.CommentReviewText{

}

.CommentImagesRow{

}

.CommentImage{
    width: 15%;
    padding: 1em;
}

.CommentStarRatingsContainer{
    position: absolute;
    top: 5em;
    right: 5em;
}

.CommentStarsRow{
    padding: 0.3em;display: flex;
    align-items: center;
}

.StarRatingCommentHeader{
    width: 9em;
    font-weight: bold;
}
