.CommentRowContainer{
    box-shadow: 0 0 14px -3px rgba(130,127,130,0.86);
    display: flex;
    align-items: center;
    justify-content: center;
}

.SeeMooreReviewsButton{

    width: 30%;
    margin-bottom: 1em;

}