.PlaceDetailsDescriptionRowContainer{

    box-shadow: 0 0 14px -3px rgba(130,127,130,0.86);
    margin-bottom: 1em;
}

.PlaceDetailsDescriptionRowImage{
    width: 100%;
}

.PlaceDetailsDescriptionRowText{

    padding: 2em;



}

.PlaceDetailsDescriptionRowTextLink{
    position: absolute;
    right: 1em;
    bottom: 1em;
}