.starIcon{
    color: gold !important;
    margin-left: 0.5em;
}

.reviewHeader{
    font-size: 1.2em;
}

.ratingHeader{
    color: #1B75BC;
    position: absolute;
    left: 50%;
}

.ReviewContainer{
    margin-bottom: 1em;

}
.ratings{
    position: absolute;
    left: 30%;
}