.CategoryHeader{
    font-size: 1.5em;
    color: #1B75BC;
    font-weight: bold;
}

.FormLabel{
    font-size: 1.1em;
    color: black;
    opacity: 0.8;
    font-weight: bold;
}

.FormInputField{

}

.FormInputField:hover{
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.genderRadioButton{
    margin-right: 1em;
}

.FormInputFieldFile{

}

.WeekDayButton:hover{
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.WeekDayButton:focus{
    box-shadow: none !important;
}

.OpeningDayHours{
    display: none;
}

.tagPlaceQuestionIcon{

    color: blue !important;
    opacity: 0.5 !important;



}


.tagPlaceQuestionIcon:hover{

    color: #FF0000 !important;
    opacity: 0.8 !important;



}
