.filterHeader{

    color: #1B75BC;
    font-weight: bold;

}

.eventSearchbarButton{
    text-decoration: none;
    margin-left: 1em;


}

.SearchBar{
    box-shadow: 0 0 14px -3px rgba(130,127,130,0.86);
}

