.aboutItemContainer{
    border: black 1px solid;

}

.aboutText{
    text-align: start;

}

.aboutPageHeader{
    color: green;
    font-weight: bold;
    font-size: 1.7em;

}


.aboutPageParagraph{
     color: black;
 }

.aboutItemContainer{

}

.aboutImage{
    width: 50%;
    height: auto;
}

